
#introParagraph{
    color: rgba(113, 51, 228, 0.952);
    text-align: center;
}
#hobbyParagraph{
    color: rgba(16, 138, 22, 0.952);
    text-align: center;
}

.Header{
    text-align: center;
    font-size: 56px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal and vertical offsets, blur radius, and shadow color */
    text-decoration: wavy;
}

a:hover{
    color: red !important;
}
a{
   justify-content: center;
}
.imageDivider{
    display:inline;
    justify-content: center;
}

.imageDivider img{
    max-width: 100%;
    max-height: 100%;
}