
#bio {
    font-size: 34px;
    color: aqua;
}

p{
    color: rgba(24, 110, 240, 0.952);
    text-align: center;
}

.Header{
    font-size: 56px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal and vertical offsets, blur radius, and shadow color */
    text-decoration: wavy;
}

a:hover{
    color: red !important;
}
a{
    text-align: center;
}
.imageDivider{
    display: flex;
    justify-content: center;
}

.imageDivider img{
    max-width: 100%;
    max-height: 100%;
}